name: Continuous Integration
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Dependencies
        run: npm ci

      - name: Build
        run: npm run-script build --if-present

      - name: Test
        run: npm run test

      - name: Lint
        run: npm run lint

      - name: Prettier
        run: npm run prettier
